footer{
    position: relative;
    background-color: $VeryDarkCyan;
    padding-top: 180px;
    padding-bottom: 60px;
    a, p{
        color:white;
        text-decoration: none;
        font-family: $bodyFont;
    }
    a:hover{
        text-decoration: underline;
    }
    .footer-logo{
       .container{
        img{
            max-width: 250px;
        }
       }
       margin-bottom: 3rem;
    }
    .container{
        display: flex;
        div:nth-child(1){
           min-width: 400px;
           padding-right:50px;
           .text-container{
            margin-left: 0;
           }
          
        }
        div:nth-child(2){
            margin-left: 100px;
         }
        div{
            flex:1;
            justify-self: center; 
        }
        ul{
            list-style: none;
            line-height: 2;
            font-size: 1.1rem;
        }
        .footer-4{
            display: flex;
            p{
                margin-right: 12px;
            }
            a{
                width: 30px;
                height: 30px;
                border:1px solid white;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    color:$pink;
                    border:1px solid $pink;
                }
            }
        }
        .text-container{
            display: flex;
            align-items: flex-start;
            p{
                line-height: 1.5;
                margin-bottom: 1rem;
               svg{
                margin-right: 15px;
               }
            }
        }
    }
    .copyrights{
        margin-top: 20px;
        .container{
            justify-content: flex-end;
            p{
            font-size: 14px;
            }
        }
    }
    .overlapping{
        min-width:800px;
        margin:auto;
        position: absolute;
        top:0;
        left: 0;
        background-color: white;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:4rem 2rem;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        transform: translate(50%, -60%);
        h1{
            font-size: 2.2rem;
            font-family: $headingFont;
            margin-bottom: 2rem;
        }
        button{
            background-color: $pink;
            color: white;
            font-size: 1.25rem;
            min-width: 375px;
            padding:1.5rem 0;
            border-radius: 50px;
            box-shadow: 0 0 15px rgba(0,0,0,.2);
            &:hover{
                background-color: $halfPink;
            }
        }
    }
}

@media  screen and (max-width:768px) {
    footer{
        position: relative;
        background-color: $VeryDarkCyan;
        padding-top: 180px;
        padding-bottom: 60px;
        a, p{
            color:white;
            text-decoration: none;
            font-family: $bodyFont;
        }
        a:hover{
            text-decoration: underline;
        }
        .footer-logo{
           .container{
            img{
                max-width: 250px;
            }
           }
           margin-bottom: 3rem;
        }
        .container{
            display: flex;
            flex-direction: column;
            div:nth-child(1){
               min-width: 400px;
               padding-right:50px;
               .text-container{
                margin-left: 0;
               }
            }
            div:nth-child(2){
                margin-left: 0;
             }
            div{
                flex:1;
                justify-self: center; 
               margin-bottom: 1rem;
            }
            ul{
                list-style: none;
                line-height: 2;
                font-size: 1.1rem;
               
            }
            .footer-4{
                display: flex;
                justify-content: center;
                p{
                    margin-right: 12px;
                }
            
            }
            .text-container{
                display: flex;
                align-items: flex-start;
                p{
                    line-height: 1.5;
                    margin-bottom: 1rem;
                   svg{
                    margin-right: 15px;
                   }
                }
            }
        }
        .copyrights{
            margin-top: 20px;
            .container{
                justify-content: center;
                p{
                font-size: 14px;
                text-align: center;
                }
            }
        }
        .overlapping{
            min-width:90%;
            max-width: 90%;
            margin:auto;
            position: absolute;
            top:0;
            left: 50%;
            background-color: white;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding:3rem 10px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
            transform: translate(-50%, -60%);
            h1{
                font-size: 1.4rem;
               text-align: center;
                margin-bottom: 2rem;
            }
            button{
                background-color: $pink;
                color: white;
                font-size: 1rem;
                min-width: 60%;
                padding:1rem 0;
                border-radius: 50px;
                box-shadow: 0 0 15px rgba(0,0,0,.2);
                &:hover{
                    background-color: $halfPink;
                }
            }
        }
    }
}