.hero{
    background-image: url(../images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $veryPaleCyan;
    margin-bottom: 150px;
    header{
        padding:2rem 0;
        .header-container{
            width:100%;
            max-width: 1280px;
            padding:0 1rem;
            margin:auto;
            display: flex;
            justify-content: space-between;
            .logo{
                max-width: 200px;
            }
            nav{
                button{
                    background-color: white;
                    padding: 1rem 4rem;
                    font-size: 14px;
                    &:hover{
                        color:#948f8f;
                    }
                }
            }
        }
    }
    .container{
        display: flex;
        align-items: center;
        padding:25px 0;
        padding-bottom: 80px;
        .hero-text{
            width: 45%;
            padding-right:3rem;
            h1{
                font-family: $headingFont;
                font-size: 2.5rem;
                margin-bottom: 2rem;
            }
            p{
                font-family: $bodyFont;
                margin-bottom: 2rem;
                line-height: 1.5;
                font-size: 18px;
            }
            button{
                background-color: $pink;
                color:white;
                width:275px;
                padding:1rem 0;
                font-size: 14px;
                &:hover{
                    background-color: $halfPink;
                }
            }
        }
        .hero-img{
            width: 55%;
        }
        
    }
}

@media screen and (max-width: 768px) {
    .hero{
        margin-bottom: 100px;
        header{
            padding: 1rem 0;
            .header-container{
                align-items: center;
                .logo{
                    img{
                        max-width: 150px;
                    }
                }
                nav{
                    button{
                        padding: .5rem 2rem;
                        font-size: 12px;
                    }
                }
            }
        }
   
    .container{
       flex-direction: column;
       justify-content: center;
        padding:25px 1rem;
        padding-bottom: 80px;
        .hero-text{
            width: 100%;
            margin-top: 65px;
            padding-right:0;
            h1{
                font-size: 2.2rem;
                text-align: center;
            }
            p{
                font-size: 18px;
                text-align: center;
            }
            button{
                width:275px;
                padding:1rem 0;
                font-size: 14px;
                margin:auto;
                display: block;
                margin-bottom: 100px;
                &:hover{
                    background-color: $halfPink;
                }
            }
        }
        .hero-img{
            width: 100%;
        }
        
    }
}
}